<%= form_for @plant, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :zw, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zw, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dlw, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dlw, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rqzw, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rqzw, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ke, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ke, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shu, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shu, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zwzym, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zwzym, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stsyx, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stsyx, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gsyxdj, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gsyxdj, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cdxzzb, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cdxzzb, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stfwzhql, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :stfwzhql, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :jwzsql, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :jwzsql, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gtsyql, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gtsyql, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zcql, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zcql, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kxso, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :kxso, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :xkcl, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :xkcl, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kxfhw, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :kxfhw, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kxo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :kxo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kxzjs, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :kxzjs, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :kxyj, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :kxyj, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gjql, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gjql, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cl, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cl, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :xzd, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :xzd, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gsbw, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gsbw, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gssx, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gssx, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gsq, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gsq, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zzgd, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zzgd, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :jdsz, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :jdsz, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zrfbqk, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zrfbqk, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dx, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dx, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :vocpflgwz, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :vocpflgwz, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                plants_path, :class => 'btn' %>
  </div>
<% end %>
